@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic");
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.g-clf:after,.g-clf:before{display:table;clear:both;content:""}
html,body{height:100%;font:normal 16px 'PT Sans',sans-serif}
h1,h2,h3,h4,h5,h6{margin:0 0 10px;line-height:1.2}
.page{position:relative;padding:20px;min-height:100%;background:#bdc3c7;}
.page__title{color:#f1c40f;text-shadow:1px 1px 2px rgba(0,0,0,0.4);font-size:2.4em}
.controls__view-form{display:inline-block;margin:0;color:#e67e22;font-weight:bold;font-size:2em;cursor:pointer;}
.controls__view-form:hover{color:#d35400}
.controls__form{padding:15px 0 0;}
.controls__form_state_hidden{display:none}
.controls__name-block_hidden{display:none}
.controls__create{position:relative;display:block;margin:20px 0 0;padding:13px 0;width:200px;outline:none;border:0;background:#2c3e50;color:#fff;font-weight:bold;line-height:1;}
.controls__create:hover{background:#34495e}
.controls__create:active{top:2px;left:2px}
.partials{display:none;width:700px;}
.partials_visible{display:block}
.partials__timer-name{font-weight:bold;font-size:20px}
.partials__label{display:block;padding:5px 0}
.partials__name{float:left;margin-right:10px;min-width:80px}
.partials__input{overflow:hidden;padding:0 20px;width:200px}
.partials__divider{margin:10px 0;width:452px;border-top:1px dashed #000}
.partials__content{padding-bottom:10px}
.partials__btn{padding:5px 10px;outline:none;border:0;background:#000;color:#fff;font-weight:bold;}
.partials__btn[disabled],.partials__btn:hover[disabled]{background:#ecf0f1}
.partials__btn.partials__add{background:#2ecc71;}
.partials__btn.partials__add:hover{background:#27ae60}
.partials__btn.partials__save{background:#3498db;}
.partials__btn.partials__save:hover{background:#2980b9}
.partials__btn.partials__create-new{background:#9b59b6;}
.partials__btn.partials__create-new:hover{background:#8e44ad}
.partials__btn.partials__load{background:#e67e22;}
.partials__btn.partials__load:hover{background:#d35400}
.partials__btn.partials__load[disabled],.partials__btn.partials__load:hover[disabled]{background:#ecf0f1}
.partials__btn.partials__local{background:#e74c3c;}
.partials__btn.partials__local:hover{background:#c0392b}
.partials__btn.partials__local[disabled],.partials__btn.partials__local:hover[disabled]{background:#ecf0f1}
.timers{overflow:hidden;margin:20px 0 0;width:200px;height:510px;border-left:1px solid #fff;border-top-right-radius:5px;border-bottom-right-radius:5px;background:#2c3e50;}
.timers__list{margin:0;padding:0;list-style:none}
.timers__item{position:relative;padding:5px 0 5px 20px;border-bottom:1px solid #fff;font-weight:bold;font-size:1.4em;cursor:pointer;}
.timers__item:hover{background:#fff;color:#c0392b}
.timers__remove{text-indent:-9999px;position:relative;display:inline-block;margin-left:10px;width:16px;height:16px;cursor:pointer;}
.timers__remove:after{position:absolute;top:8px;left:0;display:block;width:16px;height:16px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAMAAAFbUDhoAAAA7VBMVEX///8sPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSssPlDAOSu98rDdAAAATXRSTlMAAgIEBAUFBgYHBwgICQkKCgwMDQ0ODhERmpqbm6OjpaWurrCwsbGysrOztLS1tba2t7e6uru7vLy9vb6+wsLExMXFxsbHx8rKzMzNzeP/dD8AAAEvSURBVCjPZY7XUkJREARbQcFw7zkgoqJgzjmAAoKAWZn5/8/xAVGrnKet2amuBkAAGKAAQBHQgkAIXDJ49Id6XznQM2imeTjqGgPnwS/g2dYR6BqCVoC6pBxQkB5VB6pzwOUE+AaiK0DDdh4o2k9uALV54GqSn1SVQFOQSIsP2gUSSfsAfEoBoKOOlEBb5wQJMttAWPnFUHMKLUNql3veA1LbBwAM7QjQdddO4d4XRBuyO0CsAJn102RECuerE8CtpGaA0JR0DFDoSHp9lFT/nlJ4l6R+GFssfUqS9LAAwOKzpM2p3P64qkqXcwChLf3V/0l24ywdXfFibRK4s92KEFu2TwCKXdtvT7Yb31OKH7Y9iGPK8tC27V4JgPKL7a3p/MG4qtlX8wDx3q78t/gCyjM97SriDkIAAAAASUVORK5CYII=") no-repeat 0 0;content:""}
.timers__remove:hover:after{background-position:0 -16px}
.current{display:block;float:left;margin:20px 0 0;padding:10px;width:498px;height:510px;border-top-left-radius:5px;border-bottom-left-radius:5px;background:#2c3e50;}
.current_visible{display:block}
.current__header{padding:0 0 10px;color:#f1c40f;text-align:center;text-shadow:1px 1px 2px #000;font-weight:bold;font-size:3em;line-height:1;-webkit-font-smoothing:antialiased}
.current__action-title{color:#d35400;text-align:center;font-weight:bold;font-size:2em}
.current__action-time{margin:20px 0 10px;color:#27ae60;text-align:center;font-weight:bold;font-size:8em;}
.current__action-time_small{color:#c0392b}
.current__circles{padding-bottom:20px;color:#fff;text-align:center;font-weight:bold;font-size:2em}
.current__footer{text-align:center}
.current__elapsed{display:inline-block;width:calc(50% - 10px);color:#fff;vertical-align:top;}
.current__elapsed-time{font-size:2em}
.current__remaining{display:inline-block;width:calc(50% - 10px);color:#fff;}
.current__remaining-time{color:#27ae60;font-size:2em}
.current__footer-title{margin:0 0 20px;font-size:20px;line-height:1}
.current__controls{padding:10px 0;text-align:center;}
.current__controls button{margin:0 10px;padding:5px 0;width:100px;border:0;color:#fff;font-weight:bold}
.current__start{background:#2ecc71;}
.current__start:hover{background:#27ae60}
.current__pause{background:#e67e22;}
.current__pause:hover{background:#d35400}
.current__stop{background:#9b59b6;}
.current__stop:hover{background:#8e44ad}
