@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic");
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.g-clf:after,.g-clf:before{clear:both;display:table;content:""}
html,body{height:100%;font:normal 16px 'PT Sans',sans-serif}
h1,h2,h3,h4,h5,h6{margin:0 0 10px;line-height:1.2}
.page{position:relative;min-height:100%;padding:20px;background:#bdc3c7;}
.page__title{color:#f1c40f;font-size:2.4em;text-shadow:1px 1px 2px rgba(0,0,0,0.4)}
.controls{padding:50px 0 0;}
.controls__name-block_hidden{display:none}
.controls__create{box-shadow:5px 5px 10px 2px rgba(0,0,0,0.4);border:0;width:200px;padding:13px 0;background:#2c3e50;color:#fff;font-weight:bold;line-height:1;outline:none;display:block;margin:20px 0 0;}
.controls__create:hover{background:#34495e}
.controls__create:active{position:relative;top:2px;left:2px;box-shadow:4px 4px 10px 2px rgba(0,0,0,0.6)}
.partials{display:none;width:500px;}
.partials_visible{display:block}
.partials__timer-name{font-size:20px;font-weight:bold}
.partials__label{display:block;padding:5px 0}
.partials__name{float:left;margin-right:10px;min-width:80px}
.partials__input{overflow:hidden;padding:0 20px;width:200px}
.partials__divider{width:452px;margin:10px 0;border-top:1px dashed #000}
.partials__content{padding-bottom:10px}
.current{width:400px;background:#2c3e50;padding:10px;border-radius:5px;display:block;}
.current_visible{display:block}
.current__header{font-size:3em;color:#f1c40f;line-height:1;text-align:center;padding:0 0 10px;font-weight:bold;text-shadow:1px 1px 2px #000;-webkit-font-smoothing:antialiased}
.current__action-title{color:#fff;font-weight:bold;font-size:1.5em;text-align:center;}
.current__action-title-current{color:#d35400}
.current__time{font-size:8em;text-align:center;font-weight:bold;color:#27ae60;margin:20px 0 10px;}
.current__time_small{color:#c0392b}
.current__circles{color:#fff;font-weight:bold;font-size:2em;padding-bottom:20px;text-align:center;}
.current__circles-this{color:#c0392b}
.current__circles-all{color:#27ae60}
.current__footer{text-align:center}
.current__elapsed{width:calc(50% - 10px);display:inline-block;vertical-align:top;color:#fff;}
.current__elapsed-time{color:#27ae60;font-size:2em}
.current__remaining{width:calc(50% - 10px);display:inline-block;color:#fff;}
.current__remaining-time{color:#c0392b;font-size:2em}
.current__footer-title{font-size:20px;line-height:1;margin:0 0 20px}
