.controls 

  &__view-form
    font-weight bold
    font-size 2em
    color #e67e22
    cursor pointer
    display inline-block
    margin 0

    &:hover
      color #d35400

  &__form
    padding 15px 0 0
    
    &_state_hidden
      display none

  &__name-block

    &_hidden
      display none

  &__create
    box-shadow 5px 5px 10px 2px rgba(0,0,0,.4)
    border 0
    width 200px
    padding 13px 0
    background #2c3e50
    color #fff
    font-weight bold
    line-height 1
    outline none
    display block
    margin 20px 0 0

    &:hover
      background #34495e

    &:active
      position relative
      top 2px
      left 2px
      box-shadow 4px 4px 10px 2px rgba(0,0,0,.6)