html, body
  height 100%
  font normal 16px 'PT Sans', sans-serif

h1, h2, h3, h4, h5, h6
  margin 0 0 10px
  line-height 1.2

.page
  position: relative
  padding 20px
  min-height: 100%
  background #bdc3c7

  &__title
    color #f1c40f
    text-shadow 1px 1px 2px rgba(0,0,0,.4)
    font-size 2.4em