.partials
  display none
  width 700px

  &_visible
    display block
  
  &__timer-name
    font-size 20px
    font-weight bold

  &__label
    display block
    padding 5px 0

  &__name
    float left
    margin-right 10px
    min-width: 80px

  &__input
    overflow hidden
    padding 0 20px
    width 200px
  
  &__divider
    width 452px
    margin 10px 0
    border-top 1px dashed #000

  &__content
    padding-bottom 10px

  &__btn
    border 0
    color #fff
    font-weight bold
    padding 5px 10px
    background #000

    &[disabled], &:hover[disabled]
      background #ecf0f1

    &.partials__add
      background #2ecc71

      &:hover
        background #27ae60

    &.partials__save
      background #3498db

      &:hover
        background #2980b9

    &.partials__create-new
      background #9b59b6

      &:hover
        background #8e44ad

    &.partials__load
      background #8e44ad

      &:hover
        background #d35400

      &[disabled], &:hover[disabled]
        background #ecf0f1

    &.partials__local
      background #e74c3c

      &:hover
        background #c0392b

      &[disabled], &:hover[disabled] 
        background #ecf0f1