@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic")

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.g-clf:after, .g-clf:before
  clear: both
  display: table
  content: ""

html, body
  height 100%
  font normal 16px 'PT Sans', sans-serif

h1, h2, h3, h4, h5, h6
  margin 0 0 10px
  line-height 1.2

.page
  position: relative
  min-height: 100%
  padding 20px
  background #bdc3c7

  &__title
    color #f1c40f
    font-size 2.4em
    text-shadow 1px 1px 2px rgba(0,0,0,.4)

.controls 
  padding 50px 0 0

  &__name-block

    &_hidden
      display none

  &__create
    box-shadow 5px 5px 10px 2px rgba(0,0,0,.4)
    border 0
    width 200px
    padding 13px 0
    background #2c3e50
    color #fff
    font-weight bold
    line-height 1
    outline none
    display block
    margin 20px 0 0

    &:hover
      background #34495e

    &:active
      position relative
      top 2px
      left 2px
      box-shadow 4px 4px 10px 2px rgba(0,0,0,.6)

.partials
  display none
  width 700px

  &_visible
    display block
  
  &__timer-name
    font-size 20px
    font-weight bold

  &__label
    display block
    padding 5px 0

  &__name
    float left
    margin-right 10px
    min-width: 80px

  &__input
    overflow hidden
    padding 0 20px
    width 200px
  
  &__divider
    width 452px
    margin 10px 0
    border-top 1px dashed #000

  &__content
    padding-bottom 10px

.timers
  padding 20px 0

  &__list
    margin 0
    padding 0
    list-style none

  &__item
    position relative
    font-weight bold
    font-size 1.4em
    
  &__name
    cursor pointer

    &:hover
      color #c0392b

.current
  width 498px
  background #2c3e50
  padding 10px
  border-radius 5px
  display block

  &_visible
    display block

  &__header
    font-size 3em
    color #f1c40f
    line-height 1
    text-align center
    padding 0 0 10px
    font-weight bold
    text-shadow 1px 1px 2px #000
    -webkit-font-smoothing: antialiased

  &__action-title
    color #d35400
    font-weight bold
    font-size 2em
    text-align center

  &__action-time
    font-size 8em
    text-align center
    font-weight bold
    color #27ae60
    margin 20px 0 10px

    &_small
      color #c0392b
  
  &__circles
    color #fff
    font-weight bold
    font-size 2em
    padding-bottom 20px
    text-align center

  &__footer
    text-align center

  &__elapsed
    width calc(50% - 10px)
    display inline-block
    vertical-align top
    color #fff

    &-time
      font-size 2em

  &__remaining
    width calc(50% - 10px)
    display inline-block
    color #fff

    &-time
      color #27ae60
      font-size 2em

  &__footer-title
    font-size 20px
    line-height 1
    margin 0 0 20px

  &__controls
    padding 10px 0
    text-align center

    button
      margin 0 10px
      padding 5px 0
      width 100px
      border 0
      color #fff
      font-weight bold

  &__start
    background #2ecc71

    &:hover
      background #27ae60

  &__pause
    background #e67e22

    &:hover
      background #d35400

  &__reset
    background #9b59b6

    &:hover
      background #8e44ad